{% extends "base.html" %}


<!-- Announcement bar -->
{% block announce %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  For updates follow us on 

  <!-- instagram -->

  <a href="https://www.instagram.com/college.hive/">
    <span class="twemoji instagram">
      {% include ".icons/fontawesome/brands/instagram.svg" %}
    </span>
    <strong>Instagram</strong>

  </a>
  and



  <!-- linkedlin -->

<a href="https://www.linkedin.com/company/college-hives/">
    <span class="twemoji linkedin">
      {% include ".icons/fontawesome/brands/linkedin.svg" %}
    </span>
    <strong>LinkedIn</strong>

</a>

.
  
<!-- Check out our Fun time page for some fun stuff ,

<a href="https://collegehive.in/Other/funtime.html">
    <span class="twemoji fun">
        <i class="fa fa-smile-o" aria-hidden="true"></i>
    </span>
    <strong>Fun Time</strong>
</a> -->


<!-- just like dropdown button with list to select from,but make it as drop up button that is for choosing music type and a play pause button -->


<!-- HTML -->

<!-- HTML -->


{% endblock %}


{% block footer %}
<div>
  <a href="#" id="playPauseBtn" class="play">🎶</a>
</div>

<audio loop id="player">
    <source src="https://collegehive-audio.s3.ap-south-1.amazonaws.com/lofi.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
{{ super() }}


<style>

</style>

<script>// JavaScript
  // JavaScript
// JavaScript
var player = document.getElementById('player');
var playPauseBtn = document.getElementById('playPauseBtn');
var isPlaying = true; // because the audio starts playing automatically

playPauseBtn.addEventListener('click', function(e) {
  e.preventDefault();
  isPlaying = !isPlaying;
  playPauseBtn.className = isPlaying ? 'pause' : 'play';
  isPlaying ? player.play() : player.pause();
});
</script>


{% endblock %}